.container{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(5, 1fr);
}

#google-logo{
    grid-column: 3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}


.links a:link, a:visited{
    color: #5F6368;;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.links a:hover{
    text-decoration: underline;
}

.gridr1c1{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
}


#about{
    justify-self: center;
}


.gridr1c5{
    grid-row: 1;
    grid-column: 5;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
}

#gmail{
    justify-self: center;
}

.button1{
    border: none;
    text-align: center;
    display: inline-block;
}

#button1{
    font-size: 13px;
    text-decoration: none;
    background-color: #4285f4; 
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 7px 10px;
}

.gridr3c3{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 3;
    grid-row: 3/4;
    justify-self: center;
}

.searchbar{
    justify-self: center;
    align-self: center;
    grid-row: 1/2;
    grid-column: 1/5;
}

.searchbar input{
    height: 40px;
    width: 650px;
    border-radius: 25px;
    border-color: rgb(219, 218, 218);
    border-width: thin;
    justify-self: center;
    border-style: solid;
}

.button{
    background-color: #f2f2f2;
    color: #5F6368;
    border-color: #f2f2f2;
    border-style: solid;
    border-radius: 4px;
    padding: 10px 24px;
    width:150px;
    height:35px;
    margin: 5px;
}

#button2 {
    justify-self: flex-start;
    grid-column: 2/3;
}

#button3 {  
    justify-self: flex-end;
    grid-column: 3/4;
}

#footer{
    position: absolute;
    bottom: 0;
    background-color:  #f2f2f2;
    padding-top: 15px;
    padding-bottom: 1%;
    left: 10px;
    right: 10px;
}

#advertising{
    display: inline;
    padding: 20px;
}

#business{
    display: inline;
    padding: 20px;
}

#how{
    display: inline;
    padding: 20px;
}

#privacy{
    display: inline;
    padding-left: 65%;
}

#terms{
    display: inline;
    padding: 20px;


}
#settings{
    display: inline;
    padding: 8px;

}