.container{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(5, 1fr);
}

#google-logo{
    grid-column: 3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}

.searchbar{
    grid-column: 3;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
}

.searchbar input{
    height: 40px;
    width: 650px;
    border-radius: 25px;
    border-color: rgb(219, 218, 218);
    border-width: thin;
}

.links a:link, a:visited{
    text-decoration: underline;
    color: rgb(36, 35, 35);
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.links a:hover{
    text-decoration: underline;
}

.gridr1c1{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
}


#about{
    justify-self: center;
}


.gridr1c5{
    grid-row: 1;
    grid-column: 5;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
}

#gmail{
    justify-self: center;
}

.button{
    border: none;
    text-align: center;
    display: inline-block;
}

#button1{
    font-size: 13px;
    text-decoration: none;
    background-color: #4285f4; 
    color: white;
    font-weight: bold;
    padding: 7px 10px;

}
